.voxloud-bootstrap {
  .mat-mdc-autocomplete {
    &-panel {
      background-color: $color-primary-a60;
      padding: 0;
      margin: 5px 0 0;
      border-radius: 25px !important;

      &-body {
        border-bottom: 0;
      }

      .mat-mdc-option {
        .mat-option-ripple {
          display: none;
        }
      }
    }
  }
}
