$color-primary-a0: #ffffff;
$color-primary-a5: #edfbf5;
$color-primary-a10: #dbf6eb;
$color-primary-a15: #c9f2e1;
$color-primary-a20: #b6edd7;
$color-primary-a25: #a2e8ce;
$color-primary-a30: #8ee3c4;
$color-primary-a35: #78deba;
$color-primary-a40: #5fd9b1;
$color-primary-a45: #54bb99;
$color-primary-a50: #499e81;
$color-primary-a55: #3f826b;
$color-primary-a60: #346755;
$color-primary-a65: #294d40;
$color-primary-a70: #1e342c;
$color-primary-a75: #141d1a;
$color-primary-a100: #000000;

$screen-xs: 320px;
$screen-sm: 425px;
$screen-md: 768px;
$screen-lg: 1024px;

